<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TagAvatar</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>PhotoUpload</servlet-name>
    <servlet-class>local.tagavatar.response.PhotoUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoUpload</servlet-name>
    <url-pattern>/PhotoUpload</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>img-upload</param-name>
    <param-value>
         /home/sony/global_img/
     </param-value>
  </context-param>
  <context-param>
    <description>Location to store uploaded thumbnail image</description>
    <param-name>img-upload-thumb</param-name>
    <param-value>
         /home/sony/global_img/thumbnails/
     </param-value>
  </context-param>
  <context-param>
    <description>Location to store uploaded avatar</description>
    <param-name>avatar-upload</param-name>
    <param-value>
         /home/sony/global_img/avatars/
     </param-value>
  </context-param>
  <servlet>
    <servlet-name>AvatarUpload</servlet-name>
    <servlet-class>local.tagavatar.response.AvatarUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvatarUpload</servlet-name>
    <url-pattern>/AvatarUpload</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>Location to store small uploaded avatar</description>
    <param-name>avatar-upload-small</param-name>
    <param-value>
         /home/sony/global_img/avatars/small/
     </param-value>
  </context-param>
</web-app>